* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: #333333;
}
body {
  background-color: #333333;
}

.bg-cover {
  background-image: url("image5.jpg");
}

.contact-form {
  margin-top: 100px;
  color: #ff5722;
  text-transform: uppercase;
  transition: all 4s ease-in-out;
}

.contact-form h1 {
  font-size: 32px;
}

form {
  margin-top: 50px;
  transition: all 4s ease-in-out;
}

.form-control {
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  color: #fff;
  font-size: 18px;
  margin-bottom: 18px;
  height: 45px;
}

form .submit {
  background: #ff5722;
  border: transparent;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}

form .submit:hover {
  background: #f44336;
  cursor: pointer;
}
